.button {
    display: inline-block;
    background: #179c17;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
    cursor: pointer;
}
.ck {
    display: inline-block;
    background: red;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
    cursor: pointer;
}