<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Table</title>
  <link rel="stylesheet" href="css/avtoriz1.css">

</head>
<body>
<div class="header">
  <h2>Авторизация</h2>
</div>

<form th:method="post" th:action="@{/customer}"  >
  <div class="input-group">
    <label>Телефон</label>
    <input type="text" name="phone" >
  </div>
  <div class="input-group">
    <label>Пароль</label>
    <input type="password" name="password">
  </div>
    <button type="submit" class="button blue">
      <i class="fa fa-user-plus"></i>
      <span>Авторизоваться</span>
    </button>
</form>
</body>
</html>