<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="customertab.css">


</head>
<body>
<h3>Таблица получателей</h3>

<form method="get" th:action="@{addCustomer}">
    <button type="submit" class="button">добавить</button>
</form>

<form method="get" th:action="@{deleteCustomer}">
    <button type="submit" class="button cl">удалить</button>
</form>


<table border="1" bordercolor="grey" width="600">
    <tr>
        <th>№</th>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>Адрес</th>
    </tr>

    <tr th:each="customer : ${customers}">
        <td>
            [[${customer.getId()}]]
        </td>
        <td>
            [[${customer.getFullName()}]]
        </td>
        <td>
            [[${customer.getPhone()}]]
        </td>        <td>
        [[${customer.getAddress()}]]
    </td>


    </tr>


</table>
</body>
</html>