<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../css/employee.css">
</head>
<body>
<h3>Таблица сотрудников фирмы</h3>
<div>
  <button class="button">добавить</button>
  <button class="button cl">удалить</button>
</div>
<table border="1" bordercolor="grey" width="600">
  <tr>
    <th>№</th>
    <th>ФИО</th>
    <th>Телефон</th>
    <th>№ офиса</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Дивеева Наталья Леонидовна</td>
    <td>89688616168</td>
    <td>2</td>
  </tr>
  <tr>
    <td>2</td>
    <td>тут фио</td>
    <td>тут телефон</td>
    <td>тут номер офиса</td>
  </tr>
</table>
</body>
</html>