<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/location.css">
</head>
<body>
<h3>Таблица местоположений</h3>
<div>
    <button class="button">добавить</button>
    <button class="button cl">удалить</button>
</div>
<table border="1" bordercolor="grey" width="600">
    <tr>
        <th>№</th>
        <th>Трек-номер</th>
        <th>Местоположение</th>
    </tr>
    <tr>
        <td>1</td>
        <td>678-986</td>
        <td>семеновская</td>
    </tr>
    <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
    </tr>
</table>
</body>
</html>