<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>


<article class="container">
    <form th:action="@{/auth}" th:method="get">
        <button type="submit" class="button blue">
            <i class="fa fa-unlock"></i>
            <span>Войти</span>
        </button>
    </form>
    <form th:action="@{/registration}" th:method="get">
        <button type="submit" class="button purple">
            <i class="fa fa-user-plus"></i>
            <span>Зарегистрироваться</span>
        </button>
    </form>
</article>

</body>
</html>