<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/menuform.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<div class="vertical-menu">
<!--    <a class="active">Меню таблиц</a>-->
    <h3>Меню таблиц</h3>

    <form th:action="@{/showPackage}" th:method="post">
        <input type="submit" value="Посылки">
    </form>

    <form th:action="@{/showCustomer}" th:method="post">
        <input type="submit" value="Получатели">
    </form>


    <form th:action="@{/showOffices}" th:method="post">
        <input type="submit" value="Офисы">
    </form>

    <form th:action="@{/showLocation}" th:method="post">
        <input type="submit" value="Местоположение">
    </form>

</div>
</body>
</html>






