<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/package.css">
</head>
<body>
<h3>Таблица посылок</h3>
<div>
    <button class="button">добавить</button>
    <button class="button cm">удалить</button>
</div>
<table border="1" bordercolor="grey" width="600">
    <tr>
        <th>Название посылки</th>
        <th>Трек-номер</th>
        <th>Место получения</th>
        <th>Имя сотрудника</th>
        <th>Имя отправителя</th>
        <th>Имя получателя</th>
    </tr>
    <tr>
        <td>Бандероль</td>
        <td>456-876</td>
        <td>Двинская 15</td>
        <td>Дивеева</td>
        <td>Сафонов</td>
        <td>Смирнова Наталья Леонидовна</td>
    </tr>
    <tr>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
    </tr>
</table>
</body>
</html>