<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/postoffice.css">
</head>
<body>
<h3>Таблица офисов</h3>
<div>
    <form method="get" th:action="@{/addOffice}">
        <button type="submit" class="button">добавить</button>
    </form>

    <form method="get" th:action="@{/deleteOffice}">
        <button type="submit" class="button cs">удалить</button>
    </form>
</div>
<table border="1" bordercolor="grey" width="600">
    <tr>
        <th>№</th>
        <th>Название отделений</th>
        <th>Адрес</th>
    </tr>
    <tr>
        <td>1</td>
        <td>почта россии</td>
        <td>семеновская</td>
    </tr>
</table>

</body>
</html>